language: java

addons:
  sonarcloud:
    organization: "sbaltes-github"
    token: $SONAR_TOKEN

script:
  # see https://docs.travis-ci.com/user/sonarcloud/
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean verify sonar:sonar -Pcoverage -Dsonar.projectKey=myorg_myrepo
